.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 50px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin: 0 90px;

  @include desktopHd{
    margin: 0 20px;
  }

  @include desktop {
    display: none;
  }
}

.header__mobile-menu {
  display: none;

  @include tablets {
    display: block;
  }
}