.socials {
  display: flex;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;
  transition: fill .2s ease;

  &:hover {
    fill: $main-color;
    transition: fill 0.2s ease;
  }
}