.works__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 0 90px;

  @include desktop {
    padding: 80px 0;
  }

  @include tablets {
    padding: 70px 0 50px;
  }
}

.works__title {
  margin-bottom: 60px;
  margin-right: auto;

  @include desktop {
    margin-bottom: 50px;
    margin-right: 0;
  }
}
