.works__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 140px 0 100px;
}

.works__title {
  margin-bottom: 60px;
  margin-right: auto;
}
