section.about#about
  .container.about__container
    .about__user
      .about__avatar
        +image("content/user.jpg", "about__avatar-image", "фото разработчика")
      .about__data
        -
          var rows = [
            ["Проживаю:", "Москва"],
            ["Возраст:", "30 лет"],
            ["Опыт разработки:", "1 год"]
          ]

        table.about__table
          each row in rows
            tr.about__table-row
              each cell in row
                td.about__table-cell #{cell}
    .about__info
      p.text.about__hello Привет, меня зовут
      h2.title.about__username Валерия Королева
      p.text.about__description Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
      p.text.about__ps Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!