section.hero.fullscreen-section#hero
  .container.hero__container
    .hero__content
      h1.hero__desc Личный сайт <br>веб-разработчика
      .hero__name Валерия <br>Королева
    .hero__navigation
      a.hero__navigation-btn(href="#about") Листай