nav.nav
  ul.nav__list
    each item in [{title: "Главная", link: "#hero"}, {title: "Обо мне", link: "#about"}, {title: "Навыки", link: "#skills"}, {title: "Работы", link: "#works"}, {title: "Отзывы", link: "#reviews"}, {title: "Связаться", link: "#form"}]
      li.nav__item
        a(href=`${item.link}`).nav__link #{item.title}