section.skills#skills
  .container.skills__container
    .skills__info
      h3.title.skills__title Чем я могу быть вам полезна
      p.text.skills__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    .skills__content
      -
        var items = [
          ["Frontend", ["HTML5 CSS3", "JS(ES5+)", "Vue.js", "React Redux"]],
          ["Backend", ["NodeJS", "Express.js", "MongoDB"]],
          ["Workflow", ["Git", "Npm Yarn", "Webpack", "Gulp"]]
        ]
      ul.skills__box
        each row in items
          li.skills__block
            .skills__row
              h4.title.skills__row-title #{row[0]}
              .skills__row-content
                ul.skills__list
                  each skill in row[1]
                    li.skills__item
                      .skills__wrapper
                        svg(viewBox="0 0 100 100").skills__image
                          circle(cx="50" cy="50" r="40").skills__circle.skills__circle--under
                          circle(cx="50" cy="50" r="40" ref="color-circle" stroke="url(#gradient)" transform="rotate(180 50 50)").skills__circle.skills__circle--above
                          linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
                            stop(offset="0%" stop-color="#9300e8")
                            stop(offset="100%" stop-color="#4a00ed")
                        .skills__desc #{skill}