.slider
  .slider__display
    .slider__display-main
      +image("content/works/1.jpg", "slider__image", "скриншот страницы проекта")
    .slider__display-thumbs
      ul.slider-thumbs
        li.slider-thumbs__item
          button(type="button" aria-label="мини слайдер").slider-thumbs__button.slider-thumbs__button--active
            +image("content/works/1.jpg", "slider-thumbs__image", "миниатюра страницы проекта")
        li.slider-thumbs__item
          button(type="button" aria-label="мини слайдер").slider-thumbs__button
            +image("content/works/2.jpg", "slider-thumbs__image", "миниатюра страницы проекта")
        li.slider-thumbs__item
          button(type="button" aria-label="мини слайдер").slider-thumbs__button
            +image("content/works/3.jpg", "slider-thumbs__image", "миниатюра страницы проекта")
        li.slider-thumbs__item
          button(type="button" aria-label="мини слайдер").slider-thumbs__button
            +image("content/works/5.jpg", "slider-thumbs__image", "миниатюра страницы проекта")
    .slider__display-buttons
      button(type="button" aria-label="следующий слайд").slider__button
        +icon("arrow-down", "arrow arrow--next")
      button(type="button" aria-label="предыдущий слайд").slider__button
        +icon("arrow-down", "arrow arrow--prev")
  .slider__content
    .slider__counter 4
    .slider__desc
      ul.slider__tags
        li.slider__tags-item Html
        li.slider__tags-item Css
        li.slider__tags-item Javascript
      .slider__info
        h3.title.slider__info-title Сайт школы образования
        p.text.slider__info-text Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! <br>Пять месяцев только самых тяжелых испытаний и бессонных ночей!
      .slider__link
        include iconed-link.pug